{% extends "layout.html" %}


{% block content %}


    <h1>Filter All Users</h1>
    <ul>
        {% for user in users %}
        <li>{{ user.full_name }} : {{ user.username }} : {{ user.is_admin }}</li>
        <a href="{{ url_for('admin_delete_user',  user_id=user.id) }}"><button type="button">احذف هذا المستخدم</button></a>
        {% if not user.is_admin %}
        <a href="{{ url_for('admin_promote_user',  user_id=user.id) }}"><button type="button">اجعل مشرف</button></a>
        {% endif %}
    </ul>
        {% endfor %}
    


{% endblock %}
