{% extends "layout.html" %}


{% block content %}

    <h1>WAITING BOTS</h1>
    <ul>
        {% for bot in waiting_bots %}
        <a href=""><li>{{ bot.name }} : {{ bot.number }} : {{ bot.active }}</li></a>
        {% endfor %}
    </ul>
    <h1>AVAILABLE CHANNELS</h1>
    <ul>
        {% for channel in available_channels %}
        <a href=""><li>{{ channel.channelObj_id }} : {{ channel.phone_number }}</li></a>
        {% endfor %}
    </ul>

    <h1>LAYOUTS</h1>
    <ul>
        {% for layout in layouts %}
        <a href=""><li>{{ layout.name }}</li></a>
        {% endfor %}
    </ul>

    <a href="{{ url_for('admin_bots') }}"><h1>bots</h1></a>
    <a href="{{ url_for('admin_channels') }}"><h1>channels</h1></a>
    <a href="{{ url_for('admin_layouts') }}"><h1>layouts</h1></a>
    <a href="{{ url_for('admin_linker') }}"><h1>LINK</h1></a>


{% endblock %}
