{% extends "layout.html" %}


{% block content %}

    <h1>WAITING BOTS</h1>
    <ul>
        {% for bot in waiting_bots %}
        <li>{{ bot.name }} : {{ bot.number }} : {{ bot.active }}</li>
        {% endfor %}
    </ul>
    <h1>AVAILABLE CHANNELS</h1>
    <ul>
        {% for channel in available_channels %}
        <li>{{ channel.channelObj_id }} : {{ channel.phone_number }}</li>
        {% endfor %}
    </ul>

    <h1>LAYOUTS</h1>
    <ul>
        {% for layout in layouts %}
        <li>{{ layout.name }}</li>
        {% endfor %}
    </ul>
    <h1>ADMINS</h1>
    <ul>
        {% for admin in admins %}
        <li>{{ admin.full_name }} : {{ admin.number }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('admin_bots') }}"><h1>bots</h1></a>
    <a href="{{ url_for('admin_channels') }}"><h1>channels</h1></a>
    <a href="{{ url_for('admin_layouts') }}"><h1>layouts</h1></a>
    <a href="{{ url_for('admin_linker') }}"><h1>LINK</h1></a>
    <a href="{{ url_for('admin_users') }}"><h1>users</h1></a>


{% endblock %}
