{% extends "layout.html" %}


{% block content %}

<form role="form" method="POST">
    {{ form.hidden_tag() }}

    {{ form.language.label() }}
    {{ form.language(placeholder="language", onchange="this.form.submit()") }}

</form>
    {{ lang }}
    <h1>Menues</h1>
    <ul>
        {% for menue in bot.menues %}
        <a href="{{ url_for('menue', menue_id=menue.id) }}"><li>{{ menue.command }} : {{ menue.description }} : {{ menue.layout.name }}</li></a>
        {% endfor %}
    </ul>
    <h1>Layouts</h1>
    <ul>
        {% for layout in bot.layouts %}
        <a href="{{ url_for('layout', bot_id=bot.id, layout_id=layout.id) }}"><li>{{ layout.name }}</li></a>
        {% endfor %}
    </ul>

    <a href="{{ url_for('menue_create', bot_id=bot.id) }}"><h1>add command</h1></a>
    <a href="{{ url_for('layouts', bot_id=bot.id) }}"><h1>get layouts</h1></a>


{% endblock %}
