{% extends "layouts/_systemsLayout.html" %}

{% block csslinks %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}


{% block content %}
<div class="form">
    <h3 id="form-title">create a bot</h3>
<form role="form" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.name.label() }}
    {{ form.name(placeholder="name") }}
    </div>

    <div class="form-group">
    {{ form.number.label() }}
    {{ form.number(placeholder="رقم الجوال المراد للبوت") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
   
</form>
</div>

{% endblock %}
