{% extends "layout.html" %}


{% block content %}
<form class="form-horizontal" role="form" method="POST">
    {{ form.hidden_tag() }}


    {{ form.command(placeholder="command") }}

    {{ form.description(placeholder="description") }}

    {{ form.layout(placeholder="layout") }}

    {{ form.submit() }}
   
</form>


<h1>Layout</h1>
<ul>
<a href="{{ url_for('viewable_objects_router', bot_id=menue.bot.id, layout_name=menue.layout.name, menue_id=menue.id) }}"><li>{{ menue.layout.name }}</li></a>
</ul>

{% endblock %}
