{% extends "layout.html" %}


{% block content %}

<form class="form-horizontal" role="form" method="POST">
    {{ form.hidden_tag() }}


    {{ form.name(placeholder="الاسم") }}

    {{ form.price(placeholder="السعر") }}

    {{ form.description(placeholder="التفاصيل") }}


    {{ form.submit() }}
   
</form>





{% for product in products_value %}
    <h1>{{ product.name }} : {{ product.price }}</h1>
    <h3>{{ product.description }}</h3>
    <a href="{{ url_for('delete_product', product_id=product.id, bot_id=bot.id) }}"><button type="button">احذف هذا المنتج</button></a>
{% endfor %}




{% endblock %}
