{% extends "layouts/_systemsLayout.html" %}

{% block csslinks %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}


{% block content %}

<div class="form">
    <h3 id="form-title">add a product</h3>
<form role="form" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.name(placeholder="الاسم") }}
    </div>

    <div class="form-group">
    {{ form.price(placeholder="السعر") }}
    </div>

    <div class="form-group">
    {{ form.image_url(placeholder="رابط صورة المنتج") }}
    </div>

    <div class="form-group">
    {{ form.description(placeholder="التفاصيل", class="form-control", rows="3") }}
    </div>

    {{ form.submit() }}
   
</form>
</div>




{% for product in products_value %}
    <h1>{{ product.name }} : {{ product.price }}</h1>
    <h3>{{ product.description }}</h3>
    <img src="{{ product.image }}" alt="no image" style="width:500px;height:600px;"><br>
    <a href="{{ url_for('delete_product', product_id=product.id, bot_id=bot.id) }}"><button type="button">احذف هذا المنتج</button></a>
{% endfor %}




{% endblock %}
