{% extends "layouts/_systemsLayout.html" %}

{% block csslinks %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}


{% block content %}

<div class="form">
    <h3 id="form-title">add a product</h3>
<form role="form" method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.sun(placeholder="الاحد") }}
    </div>

    <div class="form-group">
    {{ form.mon(placeholder="الاثنين") }}
    </div>

    <div class="form-group">
    {{ form.tue(placeholder="الثلاثاء") }} 
    </div>

    <div class="form-group">
    {{ form.wed(placeholder="الاربعاء") }}
    </div>

    <div class="form-group">
    {{ form.thur(placeholder="الخميس") }}
    </div>

    <div class="form-group">
    {{ form.fri(placeholder="الجمعة") }}
    </div>

    <div class="form-group">
    {{ form.sat(placeholder="السبت") }}
    </div>

    {{ form.submit() }}
   
</form>
</div>



<h2>{{ schedule_string }}</h2>





{% endblock %}
