.body{
	text-align: center;
}



.card:hover{-webkit-box-shadow: 10px 10px 80px -2px rgba(0,0,0,0.78);
	-moz-box-shadow: 10px 10px 80px -2px rgba(0,0,0,0.78);
	box-shadow: 10px 10px 80px -2px rgba(0,0,0,0.78); transition: 0.5s ease-in-out 0s;}

.card-button{
	border-width: 0px;
}